@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaf8ff;
  font-family: "Raleway", sans-serif;
  color: black;
}
